.clear {
  clear: both;
  width: 0;
}
html,
body {
  height: 100%;
  width: 1520px;
  text-align: center;
  padding: 0;
  margin: 0;
}
.site-top-bar {
  width: 100%;
  height: 120px;
  background: url(../img/cms_14958826125999_FSLbo.jpg) 50% no-repeat;
}
.site-top-bar a {
  display: block;
  width: 100%;
  height: 100%;
}
.top-container {
  width: 100%;
  height: 40px;
  background: #333;
  position: relative;
}
.top-container .top-left {
  width: 1000px;
  height: 100%;
  position: absolute;
  left: 10%;
  white-space: none;
}
.top-container .top-left .top-left-item {
  font-size: 12px;
  text-align: center;
  line-height: 40px;
  height: 100%;
  width: auto;
  float: left;
  margin-left: 3px;
}
.top-container .top-left .top-left-item:hover a {
  color: #FFf;
}
.top-container .top-left .top-left-item a {
  color: rgba(256, 256, 256, 0.6);
}
.top-container .top-left .top-left-item:after {
  content: "|";
  font-size: 10px;
  margin-left: 4px;
  color: rgba(256, 256, 256, 0.1);
  clear: right;
}
.top-container .top-right {
  width: 250px;
  height: 100%;
  margin-right: 20px;
  position: absolute;
  right: 5%;
}
.top-container .top-right .top-right-item {
  font-size: 12px;
  height: 100%;
  width: auto;
  float: left;
  margin-left: 10px;
  text-align: center;
  line-height: 40px;
}
.top-container .top-right .top-right-item:hover a {
  color: #FFFFFF;
}
.top-container .top-right .top-right-item a {
  color: rgba(256, 256, 256, 0.6);
}
.top-container .top-right .top-right-item:last-child {
  width: 100px;
  height: 100%;
  background: #424242;
  text-align: center;
  position: relative;
}
.top-container .top-right .top-right-item:last-child .img {
  position: absolute;
  display: inline-block;
  width: 24px;
  height: 100%;
  top: 0px;
  left: 10px;
  background: url(../img/购物车.png) no-repeat;
  background-size: 100%;
  background-position: center;
}
.top-container .top-right .top-right-item:last-child a {
  position: absolute;
  right: 10px;
  width: 50px;
  height: 100%;
  margin: 0 auto;
}
.top-container .top-right .top-right-item:last-child .content {
  height: 0px;
  width: 300px;
  position: absolute;
  top: 100%;
  right: 0;
  background: #FFFFFF;
  box-shadow: 3px 3px 3px 1px #C0C0C0;
  transition: all 0.2s ease-in-out;
}
.top-container .top-right .top-right-item:last-child:hover {
  background: #FFFFFF;
}
.top-container .top-right .top-right-item:last-child:hover .img {
  background: url(../img/购物车1.png) no-repeat;
  background-size: 100%;
  background-position: center;
}
.top-container .top-right .top-right-item:last-child:hover a {
  color: #ff6700;
}
.top-container .top-right .top-right-item:last-child:hover .content {
  height: 100px;
  background: red;
  z-index: 10;
}
.site-head {
  position: relative;
  width: 100%;
  height: 100px;
  left: 150px;
  white-space: nowrap;
}
.site-head .logo-img {
  position: absolute;
  width: 55px;
  height: 55px;
  left: 0;
  top: 0px;
  background: url(../img/logo-footer.png) no-repeat;
  background-size: 100%;
  margin: 25px 10px 25px 10px;
}
.site-head .head_nav {
  position: absolute;
  width: 850px;
  height: 100%;
  left: 80px;
  margin-top: 0px;
}
.site-head .head_nav .head_nav_list {
  width: 100%;
  height: 100%;
}
.site-head .head_nav .head_nav_list #item0 {
  float: left;
  width: auto;
  height: 100%;
}
.site-head .head_nav .head_nav_list #item0 > a {
  width: 165px;
  height: 100%;
  display: block;
  background: url(../img/yyymix.gif) no-repeat;
  background-size: 100%;
  background-position: 0px 25px;
  line-height: 100%;
}
.site-head .head_nav .head_nav_list .head_nav_item {
  float: left;
  height: 100px;
  transition: all 0.3s ease;
}
.site-head .head_nav .head_nav_list .head_nav_item:hover > a {
  color: #ff6700;
}
.site-head .head_nav .head_nav_list .head_nav_item:hover .item_list {
  border-top: 1px solid;
  height: 230px;
  z-index: 20;
  background: #FFFDEF;
}
.site-head .head_nav .head_nav_list .head_nav_item > a {
  height: 100px;
  display: block;
  margin: 0 auto;
  text-align: center;
  line-height: 80px;
  padding: 10px 20px 0 0;
  font-size: 16px;
  font-family: "微软雅黑";
}
.site-head .head_nav .head_nav_list .head_nav_item .item_list {
  position: absolute;
  width: 1380px;
  height: 0px;
  top: 95%;
  left: -150px;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}
.site-head .head_nav .head_nav_list .head_nav_item .item_list ul {
  margin-left: 150px;
  width: 100%;
  height: 100%;
}
.site-head .head_nav .head_nav_list .head_nav_item .item_list ul .item1 {
  padding: 0;
  width: 204px;
  height: 230px;
  float: left;
  margin-left: 20px;
}
.site-head .head_nav .head_nav_list .head_nav_item .item_list ul .item1 .flag {
  width: 66px;
  height: 22px;
  background: #FF6700;
  color: #fff;
  margin: 0 auto;
}
.site-head .head_nav .head_nav_list .head_nav_item .item_list ul .item1 .item_img {
  display: block;
  width: 100%;
  height: 50%;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}
.site-head .head_nav .head_nav_list .head_nav_item .item_list ul .item1 .item_img img {
  margin-top: 10px;
  display: block;
  width: 130px;
  margin: 10px 0 0 50px;
}
.site-head .head_nav .head_nav_list .head_nav_item .item_list ul .item1 .item_name {
  margin-top: 10px;
  display: block;
  font-size: 12px;
  width: 100%;
  height: 20px;
}
.site-head .head_nav .head_nav_list .head_nav_item .item_list ul .item1 .item_price {
  display: block;
  margin-top: 5px;
  width: 100%;
  height: 10px;
  color: #FF6700;
}
.site-head .head_search {
  width: 277px;
  height: 100px;
  position: relative;
  float: right;
  right: 295px;
}
.site-head .head_search:hover .input_box {
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.site-head .head_search:hover .box {
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.site-head .head_search .input_box {
  margin-top: 30px;
  width: 225px;
  height: 48px;
  outline: none;
  font-size: 14px;
  margin-right: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.site-head .head_search .input_box:focus {
  border: 1px solid #FF6700;
}
.site-head .head_search .search_hot_box {
  width: auto;
  height: 17px;
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}
.site-head .head_search .search_hot_box a {
  font-size: 12px;
}
.site-head .head_search .search_hot_box:hover {
  background: #FF6700;
}
.site-head .head_search .search_hot_box:hover a {
  color: #FFFDEF;
}
.site-head .head_search .search_hot_box_1 {
  top: 45px;
  right: 60px;
}
.site-head .head_search .search_hot_box_2 {
  top: 45px;
  right: 120px;
}
.site-head .head_search .box {
  float: right;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 48px;
  height: 50px;
  margin-top: 30px;
  margin-left: 0px;
  cursor: pointer;
  transition: color, background 0.3s ease-in-out;
}
.site-head .head_search .box:hover {
  background: #ff6700;
}
.site-head .head_search .box:hover .box_i {
  color: #FFFDEF;
}
.site-head .head_search .box .box_i {
  font-size: 20px;
  width: 25px;
  height: 25px;
  margin: 10px 0 0 10px;
}
#contianer {
  display: block;
  left: 150px;
  top: -4px;
  width: 1226px;
  height: 460px;
  position: relative;
  user-select: none;
}
#contianer:hover .btn {
  opacity: 0.8;
}
#contianer .item_container {
  width: 100%;
  height: 100%;
  list-style: none;
}
#contianer .item_container .item {
  width: 100%;
  height: 100%;
  position: absolute;
}
#contianer .item_container .item img {
  width: 100%;
  height: 100%;
}
#contianer .point_container {
  list-style: none;
  width: auto;
  height: 20px;
  position: absolute;
  bottom: 10px;
  right: 0;
  white-space: nowrap;
}
#contianer .point_container .point {
  display: inline-block;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #000;
  cursor: pointer;
  border: 2.5px solid #898989;
}
#contianer .point_container .point:hover {
  background: #999999;
  border: 2.5px solid #000;
}
#contianer .point_container .now {
  border: 2.5px solid #000 !important;
  background: #999999 !important;
}
#contianer .btn {
  width: 40px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  position: absolute;
  font-family: "iconfont";
  color: #FFFFFF;
  opacity: 0;
  transition: all 0.5 ease-in-out;
  background: rgba(20, 20, 20, 0.8);
  z-index: 10;
}
#contianer .btn > i {
  font-size: 20px;
}
#contianer .btn:hover > i {
  font-size: 30px;
}
#contianer .btn:active > i {
  font-size: 25px;
}
#contianer .btn_left {
  left: 234px;
  top: 185px;
}
#contianer .btn_right {
  right: 0px;
  top: 185px;
}
#contianer .site_category {
  position: absolute;
  top: 0;
  left: 0;
  width: 234px;
  height: 460px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
#contianer .site_category .category_list {
  padding-top: 10%;
  width: 100%;
  height: 90%;
}
#contianer .site_category .category_list .category_item {
  width: 100%;
  height: 42px;
  text-align: left;
}
#contianer .site_category .category_list .category_item:hover {
  background: #FF6700;
  cursor: pointer;
}
#contianer .site_category .category_list .category_item:hover .category_item_list {
  width: 800px;
}
#contianer .site_category .category_list .category_item > a {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: "微软雅黑";
  padding-left: 30px;
  line-height: 42px;
  color: #FFFDEF;
}
#contianer .site_category .category_list .category_item i {
  position: absolute;
  right: 20px;
  font-size: 25px;
  color: #FFFDEF;
  line-height: 42px;
  font-family: iconfont;
}
#contianer .site_category .category_list .category_item_list {
  position: absolute;
  left: 100%;
  top: 0;
  width: 0;
  height: 460px;
  background: #FFFFFF;
  z-index: 10;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
#contianer .site_category .category_list .category_item_list .category_item_list_1 {
  width: 265px;
  height: 100%;
  display: inline-block;
  margin-right: 20px;
}
#contianer .site_category .category_list .category_item_list .category_item_list_1 .category_item_item {
  position: relative;
  width: 100%;
  height: 77px;
}
#contianer .site_category .category_list .category_item_list .category_item_list_1 .category_item_item .item_img_span_box {
  display: inline-block;
  width: 170px;
  height: 100%;
}
#contianer .site_category .category_list .category_item_list .category_item_list_1 .category_item_item .item_img_span_box > img {
  position: absolute;
  top: 18px;
  width: 60px;
}
#contianer .site_category .category_list .category_item_list .category_item_list_1 .category_item_item .item_img_span_box .img_name {
  position: absolute;
  display: inline-block;
  left: 60px;
  height: 100%;
  font-size: 16px;
  color: #404040;
  text-align: center;
  line-height: 77px;
}
#contianer .site_category .category_list .category_item_list .category_item_list_1 .category_item_item .item_img_span_box:hover .img_name {
  color: #FF6700;
}
#contianer .site_category .category_list .category_item_list .category_item_list_1 .category_item_item .btn_buy {
  position: absolute;
  top: 28px;
  margin-right: 10px;
  display: inline-block;
  width: 60px;
  height: 22px;
  border: 1px solid #ff6700;
  border-radius: 2px;
  color: #FF6700;
  text-align: center;
  transition: all 0.1s ease-in-out;
}
#contianer .site_category .category_list .category_item_list .category_item_list_1 .category_item_item .btn_buy:hover {
  background-color: #FF6700;
  color: #FFFDEF;
}
#contianer .site_category .category_list:after {
  content: "";
  clear: both;
}
.photo_bottom {
  position: relative;
  width: 1240px;
  height: 170px;
  margin-left: 150px;
  margin-top: 8px;
}
.photo_bottom .bottom_list {
  width: 1240px;
  height: 100%;
}
.photo_bottom .bottom_list .bottom_list_item {
  float: left;
  width: 316px;
  height: 170px;
  display: inline-block;
  margin-left: 15px;
  transition: all 0.2s ease-in-out;
}
.photo_bottom .bottom_list .bottom_list_item:hover {
  box-shadow: 5px 10px 8px #C0C0C0;
}
.photo_bottom .bottom_list .bottom_list_item > a {
  display: block;
  width: 316px;
  height: 170px;
  background: url(../img/xmad_14944176653918_dXbtB.jpg) no-repeat;
  background-size: 100%;
}
.photo_bottom .bottom_list .bottom_list_item:nth-child(1) {
  width: 234px;
  height: 170px;
  display: inline-block;
  float: left;
  margin: 0;
}
.photo_bottom .bottom_list .bottom_list_item:nth-child(1) .span_box {
  width: 234px;
  height: 170px;
  background: #5f5750;
}
.photo_bottom .bottom_list .bottom_list_item:nth-child(1) .span_box .span_item_i {
  display: inline-block;
  width: 70px;
  height: 45px;
  margin-top: 6px;
  padding: 15px 0;
}
.photo_bottom .bottom_list .bottom_list_item:nth-child(1) .span_box .span_item_i:hover > a > i {
  color: #ffffff;
}
.photo_bottom .bottom_list .bottom_list_item:nth-child(1) .span_box .span_item_i:hover > a > span {
  color: #ffffff;
}
.photo_bottom .bottom_list .bottom_list_item:nth-child(1) .span_box .span_item_i > a {
  display: block;
  width: 70px;
  height: 45px;
}
.photo_bottom .bottom_list .bottom_list_item:nth-child(1) .span_box .span_item_i > a > i {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.7);
}
.photo_bottom .bottom_list .bottom_list_item:nth-child(1) .span_box .span_item_i > a > .icon_name {
  margin-top: 4px;
  display: block;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.7);
  white-space: nowrap;
}
.plain_box {
  width: 1226px;
  height: 438px;
  margin-left: 150px;
  margin-top: 10px;
}
.plain_box .plain_box_title h2 {
  font-weight: 300;
  text-align: left;
}
.plain_box .plain_box_title h2 .more {
  width: 80px;
  height: 24px;
  float: right;
  margin-right: -5px;
}
.plain_box .plain_box_title h2 .more a {
  float: left;
  display: inline-block;
  width: 36px;
  height: 24px;
  border: 1px solid #424242;
  text-align: center;
  line-height: 24px;
  font-size: 12px;
  transition: all 0.3s ease-in-out;
  opacity: 0.5;
}
.plain_box .plain_box_title h2 .more a:hover {
  color: red;
}
.plain_box .plain_box_content {
  width: 1226px;
  height: 380px;
  margin-top: 10px;
  overflow: hidden;
}
.plain_box .plain_box_content .plain_photo_list {
  width: 200%;
  height: 340px;
  transition: all 1s ease;
  overflow: hidden;
}
.plain_box .plain_box_content .plain_photo_list .plain_item {
  border-top: 1px solid #FF6700;
  display: inline-block;
  width: 240px;
  height: 300px;
  padding-top: 40px;
  margin-right: 0px;
  background: #F7F7F7;
}
.plain_box .plain_box_content .plain_photo_list .plain_item .item_photo {
  display: block;
  width: 180px;
  box-sizing: border-box;
  margin: 0 auto;
  background: #F7F7F7;
}
.plain_box .plain_box_content .plain_photo_list .plain_item .item_names {
  display: block;
  margin-top: 20px;
}
.plain_box .plain_box_content .plain_photo_list .plain_item .item_des {
  display: block;
  margin-top: 10px;
  font-size: 13px;
  color: #C0C0C0;
}
.plain_box .plain_box_content .plain_photo_list .plain_item .item_prices {
  display: block;
  color: #FF6700;
  margin-top: 20px;
}
.page_main {
  width: 100%;
  height: 4000px;
  background: #F5F5F5;
  overflow: hidden;
}
.page_main .appliances {
  width: 100%;
  height: auto;
  background: #f5f5f5;
  margin: 60px auto;
}
.page_main .appliances .app_title {
  width: 1226px;
  height: 40px;
  margin: 0 auto;
}
.page_main .appliances .app_title h2 {
  float: left;
  margin: 0;
  font-weight: 300;
  text-align: left;
}
.page_main .appliances .app_title .app_list {
  width: 340px;
  height: 40px;
  float: right;
  white-space: nowrap;
  margin-right: 0;
}
.page_main .appliances .app_title .app_list li {
  display: inline-block;
  font-size: 16px;
  margin-left: 26px;
  text-align: center;
  transition: color 0.3s ease;
}
.page_main .appliances .app_title .app_list li:hover {
  color: #FF6700;
  cursor: pointer;
  border-bottom: 2px solid #FF6700;
}
.page_main .appliances .app_content {
  width: 1226px;
  height: 686px;
  margin: 0 auto;
  position: relative;
}
.page_main .appliances .app_content #left_img_zhoubian img {
  width: 234px;
  height: 305px;
  transition: all 0.3s ease-in;
}
.page_main .appliances .app_content #left_img_zhoubian img:hover {
  box-shadow: 5px 6px 3px #C0C0C0;
}
.page_main .appliances .app_content #left_img_peijian img {
  width: 234px;
  height: 305px;
  transition: all 0.3s ease-in;
}
.page_main .appliances .app_content #left_img_peijian img:hover {
  box-shadow: 5px 6px 3px #C0C0C0;
}
.page_main .appliances .app_content .left_img {
  box-sizing: border-box;
  width: 234px;
  height: 614px;
  transition: all 0.3s ease-in;
}
.page_main .appliances .app_content .left_img:hover {
  box-shadow: 5px 6px 3px #C0C0C0;
}
.page_main .appliances .app_content .app_right {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 978px;
  height: 614px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.page_main .appliances .app_content .app_right .app_right_list {
  width: 978px;
  height: 628px;
  overflow: hidden;
}
.page_main .appliances .app_content .app_right .app_right_list .app_item {
  display: inline-block;
  width: 240px;
  height: 300px;
  padding-top: 5px;
  margin-bottom: 10px;
  background: #FFFDEF;
  position: relative;
  transition: all 0.3s ease-in;
}
.page_main .appliances .app_content .app_right .app_right_list .app_item .app_photo {
  display: block;
  width: 180px;
  box-sizing: border-box;
  margin: 0 auto;
  background: #FFFDEF;
}
.page_main .appliances .app_content .app_right .app_right_list .app_item .app_names {
  display: block;
  margin-top: 20px;
}
.page_main .appliances .app_content .app_right .app_right_list .app_item .app_des {
  display: block;
  margin-top: 10px;
  font-size: 13px;
  color: #C0C0C0;
}
.page_main .appliances .app_content .app_right .app_right_list .app_item .app_prices {
  display: block;
  color: #FF6700;
  margin-top: 20px;
}
.page_main .appliances .app_content .app_right .app_right_list .app_item .hidden_content {
  position: absolute;
  height: 0px;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #FF6700;
  text-align: center;
  line-height: 74px;
  transition: height 0.3s ease-out;
}
.page_main .appliances .app_content .app_right .app_right_list .app_item:not(:last-child):hover {
  box-shadow: 5px 5px 5px #C0C0C0;
}
.page_main .appliances .app_content .app_right .app_right_list .app_item:not(:last-child):hover .hidden_content {
  height: 74px;
}
.page_main .appliances .app_content .app_right .app_right_list .app_item:nth-child(8) {
  display: inline-block;
  width: 240px;
  height: 280px;
  padding-bottom: 5px;
  margin: 0px 0;
  background: #F5F5F5;
  position: relative;
  transition: all 0.3s ease-in;
}
.page_main .appliances .app_content .app_right .app_right_list .app_item:nth-child(8) .app_item_1 {
  width: 240px;
  height: 130px;
  margin-bottom: 20px;
  background: #FFFDEF;
  transition: all 0.3s ease-in;
}
.page_main .appliances .app_content .app_right .app_right_list .app_item:nth-child(8) .app_item_1 div {
  display: inline-block;
  width: 120px;
  height: 130px;
  font-size: 14px;
  line-break: loose;
  float: left;
  text-align: center;
  line-height: 130px;
}
.page_main .appliances .app_content .app_right .app_right_list .app_item:nth-child(8) .app_item_1 div img {
  display: block;
  width: 100%;
  vertical-align: middle;
  margin-top: 20px;
}
.page_main .appliances .app_content .app_right .app_right_list .app_item:nth-child(8) .app_item_1:hover {
  box-shadow: 5px 5px 5px #C0C0C0;
}
.page_main .appliances .app_content .app_right .app_right_list .app_item:nth-child(8) .app_item_2 {
  width: 240px;
  height: 140px;
  background: #FFFDEF;
  transition: all 0.3s ease-in;
}
.page_main .appliances .app_content .app_right .app_right_list .app_item:nth-child(8) .app_item_2 div {
  display: inline-block;
  width: 120px;
  height: 130px;
  font-size: 14px;
  line-break: loose;
  float: left;
  text-align: center;
  line-height: 130px;
}
.page_main .appliances .app_content .app_right .app_right_list .app_item:nth-child(8) .app_item_2 .app_2_container {
  display: inline-block;
  width: 100px;
  height: 100px;
}
.page_main .appliances .app_content .app_right .app_right_list .app_item:nth-child(8) .app_item_2 .app_2_container .cicle {
  width: 40px;
  height: 40px;
  margin: 40px 30px;
  position: relative;
  border: 3px solid #ff6700;
  border-radius: 100%;
  color: #ff6700;
  line-height: 130px;
  text-align: center;
}
.page_main .appliances .app_content .app_right .app_right_list .app_item:nth-child(8) .app_item_2 .app_2_container .cicle i {
  position: absolute;
  display: block;
  widows: 20px;
  height: 20px;
  top: -43px;
  left: 6px;
  color: #ff6700;
  font-size: 26px;
}
.page_main .appliances .app_content .app_right .app_right_list .app_item:nth-child(8) .app_item_2:hover {
  box-shadow: 5px 5px 5px #C0C0C0;
}
.hot_pingjia {
  width: 1226px;
  height: 480px;
  background: #F5F5F5;
  margin: 0 auto;
  margin-top: 25px;
}
.hot_pingjia h2 {
  font-weight: 300;
  float: left;
}
.hot_pingjia .hot_pingjia_box {
  width: 100%;
  height: 450px;
  background: #F5F5F5;
  overflow: hidden;
}
.hot_pingjia .hot_pingjia_box .pingjia_list {
  width: 100%;
  height: 100%;
}
.hot_pingjia .hot_pingjia_box .pingjia_list .pingjia_item {
  background: #FFFFFF;
  width: 296px;
  height: 415px;
  display: inline-block;
  margin-right: 5px;
  transition: all 0.2s ease-out;
}
.hot_pingjia .hot_pingjia_box .pingjia_list .pingjia_item:hover {
  box-shadow: 8px 8px 8px #C0C0C0;
}
.hot_pingjia .hot_pingjia_box .pingjia_list .pingjia_item > a {
  display: block;
  width: 100%;
  height: 220px;
}
.hot_pingjia .hot_pingjia_box .pingjia_list .pingjia_item > a img {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.hot_pingjia .hot_pingjia_box .pingjia_list .pingjia_item .pingjia_des {
  display: block;
  width: 240px;
  height: 100px;
  color: #000;
  margin: 10px auto;
  text-indent: 2em;
  text-align: left;
  font-size: 14px;
}
.hot_pingjia .hot_pingjia_box .pingjia_list .pingjia_item .author {
  display: block;
  width: 100%;
  height: 5px;
  margin-left: 25px;
  text-align: left;
  font-weight: 200;
  font-size: 12px;
  color: #CCCCCC0;
}
.hot_pingjia .hot_pingjia_box .pingjia_list .pingjia_item .info {
  width: 80%;
  margin-left: -5px;
  margin-top: -10px;
}
.hot_pingjia .hot_pingjia_box .pingjia_list .pingjia_item .info h3 {
  font-weight: 100;
  display: inline-block;
  text-align: left;
}
.hot_pingjia .hot_pingjia_box .pingjia_list .pingjia_item .info .pingjia_price {
  color: #FF6700;
}
.sec_content {
  width: 1226px;
  height: 480px;
  background: #F5F5F5;
  margin: 25px auto;
  overflow: hidden;
}
.sec_content .content_title {
  font-weight: 300;
  display: block;
  width: 100%;
  text-align: left;
  height: 40px;
  font-size: 24px;
}
.sec_content .sec_content_box {
  margin-top: 10px;
  width: 100%;
  height: 450px;
  background: #F5F5F5;
}
.sec_content .sec_content_box .sec_content_list {
  width: 100%;
  height: 100%;
  margin-left: 5px;
  background: #F5F5F5;
}
.sec_content .sec_content_box .sec_content_list .sec_content_item {
  background: #FFFFFF;
  width: 296px;
  height: 415px;
  display: inline-block;
  margin-left: 0;
  position: relative;
  border-top: 2px solid greenyellow;
  overflow: hidden;
  transition: all 0.2s ease-out;
}
.sec_content .sec_content_box .sec_content_list .sec_content_item:hover {
  box-shadow: 8px 8px 8px #C0C0C0;
}
.sec_content .sec_content_box .sec_content_list .sec_content_item:hover .content_btn {
  display: block;
}
.sec_content .sec_content_box .sec_content_list .sec_content_item > h2 {
  width: 100%;
  height: 20px;
  color: #Ffac13;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  margin-top: 40px;
}
.sec_content .sec_content_box .sec_content_list .sec_content_item .content_item_photo {
  margin-top: 20px;
  width: 302%;
  height: 280px;
  margin-left: 5px;
}
.sec_content .sec_content_box .sec_content_list .sec_content_item .content_item_photo .content_photo {
  width: 290px;
  height: 280px;
  margin-top: 0px;
  display: inline-block;
  margin-left: 0;
  overflow: hidden;
}
.sec_content .sec_content_box .sec_content_list .sec_content_item .content_item_photo .content_photo .link_1 {
  display: block;
  text-align: center;
  font-size: 20px;
}
.sec_content .sec_content_box .sec_content_list .sec_content_item .content_item_photo .content_photo .link_2 {
  margin-top: 10px;
  display: block;
  text-align: center;
  font-size: 12px;
  color: #C0C0C0;
}
.sec_content .sec_content_box .sec_content_list .sec_content_item .content_item_photo .content_photo .book_price {
  font-size: 14px;
  text-align: center;
}
.sec_content .sec_content_box .sec_content_list .sec_content_item .content_item_photo .content_photo img {
  display: block;
  margin: 0 auto;
}
.sec_content .sec_content_box .sec_content_list .sec_content_item .content_point {
  width: 100%;
  height: 10px;
  margin-top: 0px;
}
.sec_content .sec_content_box .sec_content_list .sec_content_item .content_point ul {
  width: 60px;
  height: 10px;
  margin: 0 auto;
}
.sec_content .sec_content_box .sec_content_list .sec_content_item .content_point ul li {
  text-align: center;
  display: inline-block;
  border-radius: 100%;
  background: #C0C0C0;
  margin-left: 5px;
  width: 9px;
  height: 9px;
}
.sec_content .sec_content_box .sec_content_list .sec_content_item .content_point ul li:hover {
  background: #FFAC13;
  cursor: pointer;
}
.sec_content .sec_content_box .sec_content_list .sec_content_item .content_btn {
  width: 20px;
  height: 48px;
  position: absolute;
  top: 170px;
  display: none;
  background: rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}
.sec_content .sec_content_box .sec_content_list .sec_content_item .content_btn:hover {
  background: rgba(0, 0, 0, 0.6);
}
.sec_content .sec_content_box .sec_content_list .sec_content_item .content_btn > i {
  line-height: 48px;
  text-align: center;
  width: 20px;
  height: 48px;
  color: #FFFDEF;
  cursor: pointer;
}
.sec_content .sec_content_box .sec_content_list .sec_content_item .content_btn_left {
  left: 0;
}
.sec_content .sec_content_box .sec_content_list .sec_content_item .content_btn_right {
  right: -3px;
}
.video_box {
  width: 1226px;
  height: 343px;
  margin: 20px auto;
  background: #F5F5F5;
}
.video_box .video_top {
  width: 100%;
  height: 58px;
}
.video_box .video_top .video_title {
  width: 49%;
  display: inline-block;
  font-size: 25px;
  text-align: left;
  margin-left: 0;
  font-weight: 300;
}
.video_box .video_top .video_more {
  width: 50%;
  text-align: right;
  margin-right: 0;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
  display: inline-block;
}
.video_box .video_top .video_more:hover {
  color: #FF6700;
}
.video_box .video_top .video_more span {
  transition: all 0.2s ease-in-out;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 20px;
  margin-top: 2px;
  border-radius: 100%;
  background: #C0C0C0;
  font-size: 12px;
  color: #FFFDEF;
  text-align: center;
  line-height: 20px;
}
.video_box .video_top .video_more span:hover {
  background-color: #FF6700;
}
.video_box .video_content {
  width: 100%;
  height: 290px;
  overflow: hidden;
  background: #F5F5F5;
}
.video_box .video_content .video_list {
  width: 100%;
  height: 285px;
  margin-left: 4px;
  margin-bottom: 40px;
}
.video_box .video_content .video_list .video_item {
  height: 100%;
  width: 296px;
  position: relative;
  background: #FFFFFF;
  display: inline-block;
  margin-left: 0;
  transition: all 0.3s ease-in-out;
  margin-right: 6px;
}
.video_box .video_content .video_list .video_item:hover {
  box-shadow: 10px 10px 10px #C0C0C0;
}
.video_box .video_content .video_list .video_item .video_link {
  display: block;
  outline: none;
  border: none;
  width: 100%;
  height: 180px;
}
.video_box .video_content .video_list .video_item .video_link .video_play {
  position: absolute;
  left: 25px;
  bottom: 125px;
  display: block;
  width: 35px;
  height: 20px;
  border-radius: 40px;
  border: 2px solid #FFFFFF;
  transition: background-color 0.3s ease-in-out;
  background: #000;
}
.video_box .video_content .video_list .video_item .video_link > img {
  display: block;
  height: 100%;
  width: 100%;
}
.video_box .video_content .video_list .video_item .video_link:hover .video_play {
  background: #FFAC13;
  border: 2px solid #FFAC13;
}
.video_box .video_content .video_list .video_item .video_des {
  display: block;
  width: 100%;
  height: 20px;
  text-align: center;
  font-size: 16px;
  margin-top: 30px;
}
.video_box .video_content .video_list .video_item p {
  font-size: 12px;
  color: #C0C0C0;
  margin-top: 10px;
}
.site_footer {
  width: 100%;
  border-top: 1px solid #C0C0C0;
  height: 270px;
  margin: 20px auto;
}
.site_footer .footer_container {
  margin: 20px auto;
  width: 1226px;
  height: 80px;
}
.site_footer .footer_container .fix_list {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #C0C0C0;
  overflow: hidden;
}
.site_footer .footer_container .fix_list .fix_item {
  display: inline-block;
  width: 18%;
  height: 50%;
  margin-top: 20px;
}
.site_footer .footer_container .fix_list .fix_item .fix_link {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 15px;
  line-height: 40px;
  color: #000;
  transition: all 0.2s ease-in-out;
  text-align: center;
}
.site_footer .footer_container .fix_list .fix_item .fix_link:hover {
  cursor: pointer;
  color: #FF6700;
}
.site_footer .footer_container .fix_list .fix_item:not(:last-child) {
  border-right: 1px solid #CCCCCC;
}
.site_footer .footer_container_1 {
  margin: 20px auto;
  width: 1226px;
  height: 160px;
}
.site_footer .footer_container_1 .col_link {
  width: 158px;
  height: 112px;
  float: left;
}
.site_footer .footer_container_1 .col_link dt {
  font-size: ;
  text-align: left;
  margin-bottom: 20px;
}
.site_footer .footer_container_1 .col_link dd {
  margin-left: 0;
  margin-top: 15px;
  font-size: 12px;
  text-align: left;
  color: rgba(0, 0, 0, 0.5);
}
.site_footer .footer_container_1 .footer_right {
  width: 250px;
  height: 140px;
  margin-top: 0px;
  margin-right: 5px;
  border-left: 1px solid #C0C0C0;
  float: left;
}
.site_footer .footer_container_1 .footer_right .phone {
  color: #FF6700;
  font-size: 23px;
  font-family: "arial narrow";
}
.site_footer .footer_container_1 .footer_right .msg_1 {
  font-size: 13px;
}
.site_footer .footer_container_1 .footer_right .msg_2 {
  display: block;
  width: 120px;
  height: 30px;
  color: #FF6700;
  transition: all 0.2s ease;
  line-height: 30px;
  margin: 0 auto;
}
.site_footer .footer_container_1 .footer_right .msg_2:hover {
  background: #FF6700;
  color: #FFFDEF;
  cursor: pointer;
}
.site_info {
  width: 100%;
  height: 100px;
}
.site_info .logo_img10 {
  margin-top: 14px;
  height: 56px;
  width: 56px;
  float: left;
}
.site_info .bottom_link {
  float: left;
  margin-left: 10px;
}
.site_info .bottom_link .p1 {
  font-size: 13px;
}
.site_info .bottom_link .p2 {
  text-align: left;
  font-size: 11px;
  color: #CCCCCC;
}
.site_info .bottom_img {
  margin-top: 40px;
  margin-left: 20px;
  width: 360px;
  height: 30px;
  float: left;
}
.site_info .bottom_img img {
  width: 83px;
  height: 28px;
}
/*# sourceMappingURL=new_file.css.map */
